  .rates-container{
    flex-direction: column;
    text-align: center;
  }

  mat-flat-button, button{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-left: 47%;
  }

h3{
    margin-bottom: 0px;
    margin-top: 10px;
  }


  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }