<h2>Értékeld egy tanulód óráját!</h2>
<div class="form-container">
<mat-form-field>
  <mat-label>Válassz egy tanulót</mat-label>
  <select matNativeControl required [(ngModel)]="selectedStudent" (change)="OnSelectedStudentChange()">
    <option *ngFor="let request of requests" [value]="request.studentName">{{request.studentName}}</option>
  </select>
</mat-form-field>
<br/>

<mat-form-field>
  <mat-label>Óraszám:</mat-label>
  <input min="1" matInput type="number" [(ngModel)]="numberOfLesson">
</mat-form-field>
<br/>

<mat-form-field>
  <mat-label>Válassz egy dátumot</mat-label>
  <select matNativeControl required [(ngModel)]="selectedDate">
    <option *ngFor="let date of dates" [value]="date">{{date | date: 'yyyy/MM/dd HH:mm'}}</option>
  </select>
</mat-form-field>
<br/>

<mat-form-field appearance="fill">
  <mat-label >Megjegyzés fűzése az értékeléshez:</mat-label>
  <textarea [(ngModel)]="rateOfLessonNote" matInput></textarea>
</mat-form-field>
<br/>

<button mat-flat-button color="primary" (click)="sendRateOfLesson()">Küldés</button>
</div>
